* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1b2042;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 650px;
  /* margin-top: 50px; */
  padding-top: 30px;
  background-color: #8a8fad;
  border: 1px solid #1b2042;
  border-radius: 20px;
}

.content > h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #263b37e1;
}

.content > p {
  margin-top: 20px;
  color: #263b37e1;
  font-size: 35px;
}

.content > h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 20px;
  color: #263b37e1;
  font-size: 30px;
}

.content > button {
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-size: 25px;
  border: 1px solid #1b2042;
  border-radius: 15px;
  color: #1b2042;
  background-color: cornsilk;
  transition: all 0.5s;
}

#done {
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-size: 25px;
  border: 1px solid #1b2042;
  border-radius: 15px;
  color: #e2e6ff;
  background-color: rgb(60, 54, 34);
  transition: all 0.5s;
}

.content > #done:hover {
  background-color: #bdbbb6;
  color: rgb(60, 54, 34);
}

.content > #done:active {
  background-color: #aadaeed6;
  color: rgb(143, 135, 104);
}

#refresh {
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-size: 25px;
  border: 1px solid #1b2042;
  border-radius: 15px;
  color: rgb(60, 54, 34);
  background-color: #bdbbb6;
  transition: all 0.5s;
}

.content > #refresh:hover {
  background-color: rgb(60, 54, 34);
  color: #e2e6ff;
}

.content > #refresh:active {
  background-color: #aadaeed6;
  color: rgb(143, 135, 104);
}

.content > button:hover {
  background-color: #1b2042;
  color: cornsilk;
}

.content > button:active {
  background-color: #97c5d9d6;
  color: cornsilk;
}

#text1,
#text2,
#text3 {
  color: rgb(222, 219, 199);
  font-family: monospace;
}
